/WellnessManagementSystem/nbproject/private/
/WellnessManagementSystem/nbproject/private/
/WellnessManagementSystem/build/
/WellnessManagementSystem/dist/
Java/
nbproject/private/
*.log
*.class
*.iml
*.DS_Store
Thumbs.db
WellnessManagementSystem/Database/wellnessDB/**/*.dat
WellnessManagementSystem/Database/wellnessDB/**/*.lck
WellnessManagementSystem/Database/wellnessDB/**/*.log
WellnessManagementSystem/Database/wellnessDB/**/*.tmp
WellnessManagementSystem/Database/wellnessDB/**/*.c*
WellnessManagementSystem/Database/wellnessDB/**/*.v*
WellnessManagementSystem/Database/wellnessDB/**/logmirror.ctrl
WellnessManagementSystem/Database/wellnessDB/**/log.ctrl
/WellnessManagementSystem/nbproject/private/
/WellnessManagementSystem/build/

WellnessManagementSystem/Database/wellnessDB/**/log.ctrl
WellnessManagementSystem/Database/wellnessDB/**/logmirror.ctrl
WellnessManagementSystem/Database/wellnessDB/**/service.properties

WellnessManagementSystem/nbproject/private/

