/StudentWellnessSystemDB/nbproject/private/
/StudentWellnessDB/nbproject/private/
/StudentWellnessDB/build/
/StudentWellnessDB/dist/
Java/
nbproject/private/
*.log
*.class
*.iml
*.DS_Store
Thumbs.db

StudentWellnessDB/Database/*.lck
StudentWellnessDB/Database/*.log
StudentWellnessDB/Database/*.dat
StudentWellnessDB/Database/*.tmp
StudentWellnessDB/Database/*.c*
StudentWellnessDB/Database/*.v*
StudentWellnessDB/Database/logmirror.ctrl