/WellnessManagementSystem/nbproject/private/
/WellnessManagementSystem/nbproject/private/
/WellnessManagementSystem/build/
/WellnessManagementSystem/dist/
Java/
nbproject/private/
*.log
*.class
*.iml
*.DS_Store
Thumbs.db
WellnessManagementSystem/Database/welnessDB.lck
WellnessManagementSystem/Database/welnessDB.log
WellnessManagementSystem/Database/welnessDB.dat
WellnessManagementSystem/DatabasewelnessDB.tmp
WellnessManagementSystem/Database/welnessDB.c*
WellnessManagementSystem/Database/welnessDB.v*
WellnessManagementSystem/Database/logmirror.ctrl
/WellnessManagementSystem/nbproject/private/
/WellnessManagementSystem/build/
